
body {
    background-color: #f7f7f7;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

p, td, th, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

button.custom-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

button.custom-btn:hover {
    background-color: #0056b3;
}


.table-striped {
    background-color: #ffffff;
    border: 1px solid #ddd;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #d8ccdb;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #ddd;
}

.thead-dark th {
    background-color: #343a40;
    color: #fff;
}


.nav a {
    color: #007bff;
}


button #dark-mode-icon {
    margin-right: 5px;
    font-size: 18px;
}


button.btn-dark {
    background-color: #444;
    color: #fff;
}


body.dark-mode {
    background-color: #2e2e2e;
    color: #e0e0e0;
}


body.dark-mode h1, body.dark-mode h2, body.dark-mode h3, body.dark-mode h4, body.dark-mode h5, body.dark-mode h6 {
    color: #ffffff;
}


body.dark-mode p, body.dark-mode th, body.dark-mode td, body.dark-mode button {
    color: #f0f0f0;
}


body.dark-mode button.custom-btn {
    background-color: #444;
    color: #f0f0f0;
}

body.dark-mode button.custom-btn:hover {
    background-color: #666;
}


body.dark-mode .table-striped tbody tr:nth-of-type(odd) {
    background-color: #444;
}

body.dark-mode .table-striped tbody tr:nth-of-type(even) {
    background-color: #555;
}

body.dark-mode .table-hover tbody tr:hover {
    background-color: #666; 
}

body.dark-mode .table-bordered th, body.dark-mode .table-bordered td {
    border: 1px solid #555;
}

body.dark-mode .thead-dark th {
    background-color: #444;
    color: #f0f0f0;
}


body.dark-mode tbody tr {
    background-color: #3b3b3b;
    color: #e0e0e0;
}


body.dark-mode .nav a {
    color: #80bdff;
}


footer.dark-mode {
    background-color: #252525;
    color: #d0d0d0;
}

