/* Estilos para Modo Claro */
body {
    background-color: #f7f7f7;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: 700;
    margin-bottom: 0.5rem; /* Espaçamento inferior uniforme */
}

p, td, th, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

button.custom-btn {
    background-color: #007bff;
    color: white;
    padding: 8px 12px; /* Ajustar o padding para um botão menor */
    border: none;
    border-radius: 4px; /* Arredondamento sutil */
    cursor: pointer;
    font-size: 14px; /* Manter tamanho padrão */
    font-weight: 500;
    transition: background-color 0.3s ease, transform 0.2s; /* Adicionar transição para transformação */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve para profundidade */
}

button.custom-btn:hover {
    background-color: #0056b3;
    transform: translateY(-1px); /* Efeito de aumento ao passar o mouse */
}

.table-striped {
    background-color: #ffffff;
    border: 1px solid #ddd;
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px; /* Aumentar margem superior para separação */
}

.table-striped th, .table-striped td {
    padding: 10px 12px; /* Ajustar o padding para melhor aparência */
    text-align: left;
    border-bottom: 1px solid #ddd; /* Adicionar linha entre as linhas da tabela */
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9; 
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #ffffff; 
}

.table-hover tbody tr:hover {
    background-color: #e9ecef; /* Cor de fundo mais suave para o efeito hover */
}

.thead-dark th {
    background-color: #343a40;
    color: #fff;
    padding: 10px; /* Adiciona padding para cabeçalhos da tabela */
}

.nav a {
    color: #007bff;
    text-decoration: none; /* Remover sublinhado */
}

.nav a:hover {
    text-decoration: underline; /* Sublinha ao passar o mouse */
}

/* Adicionando uma margem uniforme ao container principal */
.container {
    margin: 0 auto; /* Centraliza o container */
    max-width: 1200px; /* Limite de largura máxima */
    padding: 20px; /* Padding interno do container */
}
