{% extends 'base.html' %}
{% block content %}

<h1>Cadastro</h1>

<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.nome.label }} {{ form.nome(size=32, class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.descricao.label }} {{ form.descricao(size=32, class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.numero_serie.label }} {{ form.numero_serie(size=32, class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.localizacao.label }} {{ form.localizacao(size=32, class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.patrimonio_id.label }} {{ form.patrimonio_id(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>

{% endblock %}
