{% extends 'base.html' %}

{% block content %}
<h1>Cadastro De Ativo</h1>
<form method="POST">
    {{ form.hidden_tag() }}<br>
    <div class="form-group">
        {{ form.nome.label }}<br>
        {{ form.nome() }}<br>
    </div>
    <div class="form-group">
        {{ form.descricao.label }}<br>
        {{ form.descricao() }}<br>
    </div>
    <div class="form-group">
        {{ form.numero_serie.label }}<br>
        {{ form.numero_serie() }}<br>
    </div>
    <div class="form-group">
        {{ form.localizacao.label }} <br>
        {{ form.localizacao() }}<br>
    </div>
    <p></p>
    <button type="submit" class="custom-btn"> Cadastrar </button>
    <button onclick="window.history.back()" class="custom-btn">Voltar</button>
</form>
{% endblock %}
