{% extends "base.html" %}
{% block title %}Exibir Dados de Planilhas{% endblock %}

{% block content %}
<div class="container">
    <h2>Selecione uma Planilha para Visualizar</h2>
    
    <form method="POST" action="{{ url_for('routes.exibir_dados') }}">
        <div class="form-group">
            <label for="planilha">Escolha a Planilha</label>
            <select name="planilha" id="planilha" class="form-control">
                {% for file in planilhas_disponiveis %}
                    <option value="{{ file }}">{{ file }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="tipo_banco">Selecione o Banco para Inserção:</label>
            <select name="tipo_banco" id="tipo_banco" class="form-control">
                <option value="asset">Asset</option>
                <option value="funcionario">Funcionário</option>
            </select>
        </div>
        
        <button type="submit" class="btn btn-primary mt-3">Exibir Dados</button>
    </form>

    {% if df_filtered is not none %}
        <h3 class="mt-5">Primeiras 5 Linhas da Planilha Selecionada</h3>
        <pre>{{ df_filtered.head(5).to_string(index=False) }}</pre>  <!-- Exibe os dados das 5 primeiras linhas em formato de texto -->
    {% endif %}
</div>
{% endblock %}
